body {
    font-family: Georgia, "Times New Roman", Times, serif; /*Fallback*/
    background-image:url(../image/bg.png);
    background-repeat:repeat;
    color:#000;
}

.master{
    width: 100%; /*nutze 100% des verfügbaren Bildschirmes*/
    max-width: 948px; /*maximale Bildschirmgröße*/
    margin: 0 auto; /*mittig ausgerichtet*/
}

.wrapper{
    width: 100%;
    max-width: 948px;
    /*float: left; links angesiedelt*/
    background-color: #dcd4c7;
    padding-top: 37px;
    padding-bottom: 37px;
}

.header > img {
    width: 100%; /*wenn header bild hat dann anpassen*/
}

.navi{
    float: left;
    width: 170px;
    margin-top: 10px;
    padding-right: 20px;
    height: 296px;
    display: block;
}

ul#navi{
    margin: 0;
    padding: 0;
    text-align: right;
}

ul#navi li{
    list-style: none;
    font-weight: bold;
    color: #727272;
    font-variant: small-caps;
}

ul#navi a{
    text-decoration: none;
    color: black;
}

#active{
    color: #f37d18;
}

ul#navi a:hover{
    color: #f37d18;
}

.imghead{
    float: left;
    padding-top: 10px;
}

.float{
    clear: both;
}

.content-links{
    float: left;
    width: 170px;
    padding-right: 20px;
    margin-top: 610px;
    text-align: right;
}

.content-links-mobile {
    display: none;
}

#textbottom{
    vertical-align: text-bottom;
    font-variant: small-caps;
    color: white;
    font-weight: bold;
}

.content-rechts{
    float: left;
    height: 690px;
    width: 75%;
    max-width: 710px;
    background-color: #c4b7a2;
    padding: 2px 20px 10px 20px;
    /* top left bottom right*/
    font-size: small;
}

.footer > img {
    width: 100%;
}

.imghead > img {
    width: 99%;
}

h1 {
    font-size: medium;
}

.burger {
    display: none;
    margin: 10px;
    position: absolute;
    left: 20px;
    z-index: 1000;
}

iframe {
    width: 700px;
    height: 455px;
}

/* Media Queries*/

@media screen and (max-width: 800px) {
    .content-links{
        display: none;
    }
    .content-rechts{
        width: 90%;
        max-width: none;
        height: auto;
    }
    .content-links-mobile{
        display: block;
        vertical-align: text-bottom;
        font-variant: small-caps;
        color: white;
        font-weight: bold;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    #navi{
        display: none;
    }
    #navi.open{
        display: block;
        position: absolute;
        top: 110px;
        left: 0;
        width: auto;
        background-color: #dcd4c7;
        z-index: 1000; /* Damit das Menü über dem restlichen Inhalt liegt */
        text-align: left;
        padding-left: 30px;
    }
    .imghead{
        margin-top: 0px;
        position: relative;
    }
    .imghead > img {
        width: 99%;
    }
    iframe{
        height: auto;
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .navi{
        height: 10px;
    }
}
